@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'toastr/build/toastr.min.css';

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 576px);
@custom-media --md screen and (min-width: 768px);
@custom-media --lg screen and (min-width: 992px);
@custom-media --xl screen and (min-width: 1200px);

@custom-media --xs-only screen and (max-width: 575px);
@custom-media --sm-only screen and (min-width: 576px) and (max-width: 767px);
@custom-media --md-only screen and (min-width: 768px) and (max-width: 991px);
@custom-media --lg-only screen and (min-width: 992px) and (max-width: 1199px);
@custom-media --xl-only screen and (min-width: 1200px);

body {
  font-family: 'Roboto', Arial, sans-serif;
}

/* CONTAINER - START */

div.app-container {
  min-height: 100vh;
  background-color: rgb(48, 48, 48);
  color: white;
  position: relative;
}

/* CONTAINER - END */

/* 404 - START */

div.not-found {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* 404 - END */
