@custom-media --xs screen and (min-width: 320px);
@custom-media --sm screen and (min-width: 576px);
@custom-media --md screen and (min-width: 768px);
@custom-media --lg screen and (min-width: 992px);
@custom-media --xl screen and (min-width: 1200px);

@custom-media --xs-only screen and (min-width: 320px) and (max-width: 575px);
@custom-media --sm-only screen and (min-width: 576px) and (max-width: 767px);
@custom-media --md-only screen and (min-width: 768px) and (max-width: 991px);
@custom-media --lg-only screen and (min-width: 992px) and (max-width: 1199px);
@custom-media --xl-only screen and (min-width: 1200px);

@custom-media --xs-sm screen and (max-width: 767px);
@custom-media --xs-md screen and (max-width: 991px);

html {
  @media (--xs-sm) {
    font-size: 75%;
  }
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

/* LIBRARY - START */

:root {
  --theme-color: rgb(48, 48, 48);
  --theme-color-2: rgb(60, 60, 60);
  --thumbnail-color: #aaa;
  --font-color: white;
  --google-color: #008744;
  --facebook-color: #3b5998;
  --scale: {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  };
  --box-shadow: {
    -webkit-box-shadow: 0 0 1rem 0 var(--font-color);
    -moz-box-shadow: 0 0 1rem 0 var(--font-color);
    box-shadow: 0 0 1rem 0 var(--font-color);
  };
  --transition-all: {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  };
  --vertical-center: {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  };
  --absolute-center: {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  };
}

/* LIBRARY - END */

/* CONTAINER - START */

div.app-container {
  min-height: 100vh;
  background-color: var(--theme-color);
  color: var(--font-color);
  position: relative;
  padding-bottom: 3rem;
}

/* CONTAINER - END */

/* SIDEBAR - START */

div.sidebar {
  position: fixed;
  z-index: 15;
  top: 2rem;
  left: 3rem;
  & button.btn-toggle {
    background-color: transparent;
    color: var(--font-color);
    &:hover {
      background-color: var(--font-color);
      color: var(--theme-color);
    }
  }
  & i.fa {
    font-size: 1.5rem;
  }
}

/* SIDEBAR - END */

/* SEARCH - START */

div.search-bar-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  background-color: var(--theme-color);
  @apply (--transition-all);
  &.has-results {
    height: 6.5rem;
    & .search-bar {
      & .search-bar-inner {
        max-width: none;
        margin: 0;
      }
    }
  }
  & .search-bar {
    @apply (--vertical-center);
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    & .search-bar-inner {
      & .search-bar-outer {
        flex: 1 1 100%;
        display: flex;
        position: relative;
        & input {
          border-radius: 0;
          background: transparent;
          font-family: 'Roboto', Arial, sans-serif;
        }
        & .words-container {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: white;
          & .words {
            padding: 8px 12px;
            color: #ccc;
            & span {
              white-space: pre;
            }
          }
        }
      }
    }
  }
}

div.search-result-container {
  padding-top: 7.5rem;
  @media (--md-only) {
    display: flex;
    flex-wrap: wrap;
  }
  & .search-result {
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding: 15px;
    background-color: var(--theme-color);
    border-radius: 5px;
    @apply (--transition-all);
    @media (--md-only) {
      flex: 0 0 50%;
    }
    &:hover {
      @apply (--scale);
      @apply (--box-shadow);
      z-index: 2;
      cursor: pointer;
    }
    & .thumbnail {
      text-align: center;
      @media (--xs-md) {
        margin-bottom: 1rem;
      }
    }
    @media (--sm-only) {
      & .result-info {
        & .result-title {
          text-align: center;
        }
      }
    }
  }
}

/* SEARCH - END */

/* VIDEO - START */

div.video {
  padding-top: 7.5rem;
  & .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  & .video-playback-container {
    background-color: black;
    & .video-tag {
      background-color: black;
      width: 100%;
      position: relative;
      &:after {
        content: '';
        padding-top: 56.25%;
        display: block;
      }
      & .video-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        & video {
          width: 100%;
          height: 100%;
        }
      }
      & .video-preloader {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        & .preloader {
          @apply (--absolute-center);
          text-align: center;
          & .ajax-loader {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  & #video-accordion {
    padding-top: 2rem;
    & .cards {
      @apply (--box-shadow);
      border-radius: 5px;
      & .card {
        background-color: transparent;
        & .card-header {
          background-color: var(--theme-color-2);
        }
      }
    }
  }
  & .video-notes-container {
    & .video-note-container {
      padding-top: 1rem;
      padding-bottom: 1rem;
      & .thumbnail {
        position: relative;
        @media (--xs-md) {
          margin-bottom: 1rem;
        }
        &:after {
          content: '';
          padding-top: 56.25%;
          display: block;
          background-color: var(--thumbnail-color);
        }
      }
    }
  }
}

/* VIDEO - END */

/* LOGIN - START */

div.login-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  & .login {
    @apply (--absolute-center);
    & .login-link-container {
      & .login-link {
        min-width: 240px;
        padding: 1rem 1rem 1rem 4rem;
        display: block;
        text-decoration: none;
        color: white;
        position: relative;
        z-index: 1;
        @apply (--transition-all);
        &:first-child {
          margin-bottom: 1rem;
        }
        &:hover {
          z-index: 2;
          @apply (--scale);
        }
        &:before {
          font-family: FontAwesome;
          position: absolute;
          top: .2rem;
          left: 1rem;
          font-size: 2rem;
          width: 2rem;
          text-align: center;
        }
        &.google-login-link {
          border: 2px solid var(--google-color);
          background-color: var(--google-color);
          -webkit-box-shadow: 0 0 1rem 0 var(--google-color);
          -moz-box-shadow: 0 0 1rem 0 var(--google-color);
          box-shadow: 0 0 1rem 0 var(--google-color);
          &:before {
            content: "\f1a0";
          }
        }
        &.facebook-login-link {
          border: 2px solid var(--facebook-color);
          background-color: var(--facebook-color);
          -webkit-box-shadow: 0 0 1rem 0 var(--facebook-color);
          -moz-box-shadow: 0 0 1rem 0 var(--facebook-color);
          box-shadow: 0 0 1rem 0 var(--facebook-color);
          &:before {
            content: "\f09a";
          }
        }
      }
    }
  }
}

/* LOGIN - END */

/* 404 - START */

div.not-found {
  @apply (--vertical-center);
  width: 100%;
}

/* 404 - END */
